body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;

}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    gap:15px;
    align-items: center;
}

.header{
    background-color: #0074e1;
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 60px;
    height: 60px;
}

.LogoText{
    color:white;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    display:flex;
    flex-direction: row;
    gap:10px;
}

.body{
    display:flex;
    flex-direction: column;
}

.body a {
    display:inline;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.body a{
    background-color: #3882F6;
    color:white;
    width: 200px;
    height: auto;
    border-radius: 12px;
}
.section1{
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 500px;
}

h1{
    font-size: 30px;
    font-weight: bold;
    color: #F9FAF8; 
}

.section1 video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

.section1 .captions{
    background-color: rgba(211, 238, 232, 0.402);
    width: 800px;
    padding:15px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.section2{
    background-color: #44859e;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    height: 300px;
}

.section2 img{
    width: 60px;
    height: 60px;
    border: 2px solid black;
    padding:5px;
}
.section2 .container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:82px;
}

.section2 .info{
    max-width: 200px;
}

.section3{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
}


.section3 img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

.section3 .quotes{
    background-color: rgba(211, 238, 232, 0.402);
    width: 800px;
    position: relative;
    text-align: center;
    z-index: 1;
    margin-top: 60px;
}

.section3 .quotes .italic{
    text-align: right;
    font-size: 14px;
    font-style: italic;
    padding-right: 8px;
}

.section3 .quotes .autor{
    text-align: right;
    font-size: 12px;
    padding-right: 10px;
    font-weight: bold;
}

.section4{
    background-color: #44859e;
    height: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    text-align: center;
    
}

.section4 img{
    height: 140px;
    width: 280px;
}

.section4 .donate{
    background-color: #44859e;
    border: 2px solid black;
    padding: 5px;
}

.section4 p{
    font-size: 24px;
    font-weight: bold;
}

.section4 .buttons{
    display:flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
}
.footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #44859e;
}

.github{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 15px; 
}

.github_img{
    height: 15px;
    width: 15px;
}
